.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-right: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.mobile-menu-button {
    display: none; /* Nasconde il pulsante del menu mobile per schermi più grandi */
    cursor: pointer;
}

.mobile-navbar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Altezza della navbar per evitare il sovrapporsi con la navbar */
    left: 0;
    width: 100%;
    background-color: #333;
}

.mobile-navbar-links li {
    padding: 1rem;
}

@media (max-width: 768px) {
    .mobile-menu-button {
        display: block; /* Mostra il pulsante del menu mobile per schermi più piccoli */
    }

    .navbar-links {
        display: none; /* Nasconde i link della navbar per schermi più piccoli */
    }
}
